/*Google Fonts Import*/
@import url('https://fonts.googleapis.com/css2?family=Signika:wght@300;400;500;600&family=Voltaire&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
/* Borrowed from Love Running-project*/
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* General body styles*/
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: #000000;
    font-family: 'signika', sans-serif;
}

h1 {
    font-size: x-large;
    text-align: center;
    font-family: 'Voltaire', sans-serif;
    font-weight: 400;
}

h2 {
    font-family: 'Voltaire', sans-serif;
    font-size: larger;
    text-align: center;
}

h3 {
    font-family: 'Voltaire', sans-serif;
    font-size: larger;
    color: #F14F61;
    text-align: center;
}

p {
    text-align: center;
}

.smaller-text {
    font-size: 12px;
    color: #69595B
}

/* class to target section in homepage*/
.homepage {
    padding: 10px;
}

/* Header */
header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    font-family: 'Voltaire', sans-serif;
}

header a {
    text-decoration: none;
    color: #69595B
}

/*Logo styles*/
#logo {
    width: 70%;
    padding: 5px 0 0 5px;
}

/* Menu styles*/
#menu {
    list-style-type: none;
    padding-right: 10px;
    width: 30%;
    
}

.active {
    text-decoration: underline;
}

/* Main Content General*/
/* Make main element take up any surplus space to push footer to bottom */
/* Borrowed from Love Running Project*/
main {
    flex: 1 0 auto;
    background-color: #ffffff;
}

/* Main content HOME*/
/* Banner styles for home page */
.div-one {
    display: flex;
    background-image: url("../images/banner-for-easy-baking.webp");
    background-size: cover;
    width: 100%;
    height: 20vh;
    border-top: 5px solid #F57583;
    border-bottom: 5px solid #F57583;
    align-items: center;
}

.banner-text-background {
    background-color: #F57583;
    opacity: 0.9;
    width: 50%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-text {
    padding: 5px;
    color: #ffffff;
    font-size: 14px;

}

/* About Easy Baking */

/* Fika section with images*/
.div-two h1,
h2 {
    color: #F14F61;
    text-shadow: 1px 1px #acacac9f;
}

.img-in-row {
    display: flex;
    object-fit: contain;
    border: 2px solid #9f8184;
    margin-top: 10px;
}

.div-two img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    padding: 2px;
    background-color: #9f8184;
}

.div-three {
    background-color: #9f8180;
    text-align: center;
    margin-bottom: 20px;
    box-shadow: 0.5px 2px #9e81819f;
}

.div-three p {
    box-sizing: border-box;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    text-shadow: 1px 1px #815f5f9f;
    margin-bottom: 20px;
}

/* Lemon quote */
/* Part Borrowed from https://codepen.io/sarus/pen/PJGPmy */
#wrapper-lemon {
    display: flex;
    justify-content: left;
    height: 20vh;
    margin-top: 40px;
}

#parent-lemon {
    width: 50%;
    background-image: url("../images/lemon-slice.webp");
    background-size: cover;
    position: relative;
}

#child-lemon {
    position: absolute;
    width: 15.625rem;
    top: 35%;
    font-size: medium;
    left: 8%;
    color: #9f8184;
    text-shadow: 1px 1px #e6e6e69f;
    background-color: #f5fc6f80;
}

/* Raspberry and chocolate */
.raspberry-chocolate {
    margin: 40px 0 40px 0;
}

.div-six {
    display: flex;
    flex-direction: row;
}

.div-six img {
    width: 50%;
    padding: 2px;
}

/* Tips for nuts */
/* Part Borrowed from https://codepen.io/sarus/pen/PJGPmy */
#wrapper-nuts {
    display: flex;
    justify-content: right;
    height: 20vh;
}

#parent-nuts {
    width: 50%;
    background-image: url("../images/different-nuts.webp");
    background-size: cover;
    position: relative;

}

#child-nuts {
    position: absolute;
    width: 15.625rem;
    top: 35%;
    font-size: medium;
    right: 8%;
    color: #40393A;
    text-shadow: 1px 1px #ffeced;
    background-color: #9f818499;
}

/* Fika brings people togheter */
.div-seven {
    margin: 40px 0 40px 0;
}

.div-seven img {
    width: 100%;
    height: auto;
    vertical-align: middle;
    padding: 2px;
    background-color: #9f8184;
}

.div-seven p {
    box-sizing: border-box;
    padding: 5px;
    font-weight: 300;
    font-size: 14px;
    text-shadow: 1px 1px #815f5f9f;
    background-color: #9f8184;
}

.div-seven i {
    color: red;
}

/* Main content RECIPES*/
.recipes-header {
    background-color: #9f8184;
    color: #ffffff;
}

.recipes,
.recipes-two {
    padding: 20px;
    font-size: smaller;
}

/* Recipes color #f57583*/
.recipes img {
    width: 100%;
    display: block;
    margin: auto;
    border: 2px solid #F57583;
}

.h2-one {
    color: #F14F61;
}



.recipes ul {
    border: 2px solid #F57583;
    list-style-position: inside;
    padding-left: 5px;
}

.recipes ol {
    border: 2px solid #F57583 ;
    list-style-position: inside;
    padding-left: 5px;
}

.recipes-two ul {
    border: 2px solid #9f8184;
    list-style-position: inside;
    padding-left: 5px;
}

.recipes-two ol {
    border: 2px solid #9f8184;
    list-style-position: inside;
    padding-left: 5px;
}

.list-heading {
    list-style: none;
    font-weight: bold;
}
/* Change styling to unordered list 
.recipes ul {
    border: 2px solid #F57583;
    box-shadow: 2px 2px #ccc3c3;
    list-style-position: inside;
    padding-left: 5px;
    list-style: none;
}

.recipes ul li::before {
    content: "\2022";
    color: #F57583;
    font-weight: bold;
    font-size: large;
    padding-right: 2px;
} */

/* Change styling to ordered list 
.recipes ol {
    border: 2px solid #F57583;
    box-shadow: 2px 2px #ccc3c3;
    list-style-position: inside;
    padding-left: 5px;
    list-style: none;

}

.recipes ol li {
    counter-increment: my-awesome-counter;
}

.recipes ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: #F57583;
    font-weight: bold;
} */

/* Recipes color #9f8184*/
.recipes-two img {
    width: 100%;
    display: block;
    margin: auto;
    border: 2px solid #9f8184;
}

.h2-two {
    color: #40393A;
}

.recipes-two h3 {
    color: #000000;
}

/* Change styling on unordered list
.recipes-two ul {
    border: 2px solid #9f8184;
    box-shadow: 2px 2px #ccc3c3;
    list-style-position: inside;
    padding-left: 5px;
    list-style: none;
}

.recipes-two ul li::before {
    content: "\2022";
    color: #9f8184;
    font-weight: bold;
    font-size: large;
    padding-right: 2px;
}*/

/* Change styling to ordered list
.recipes-two ol {
    border: 2px solid #9f8184;
    box-shadow: 2px 2px #ccc3c3;
    list-style-position: inside;
    padding-left: 5px;
    list-style: none;
}

.recipes-two ol li {
    counter-increment: my-awesome-counter;
}

.recipes-two ol li::before {
    content: counter(my-awesome-counter) ". ";
    color: #9f8184;
    font-weight: bold;
} */

/* Main content CONTACT*/
#contact {
    background-image: url("../images/background-pink-cupcake.webp");
    background-size: cover;
    background-position: 75%;
    padding: 20px 10% 20px 10%;
    flex-grow: 1;
    color: #ffffff;
    height: 100vh;
}

#contact-form {
    border: 2px solid #F57583;
    background: #F5758395;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    

}

.text-input {
    background: transparent;
    border: 2px solid #ffffff;
    padding: 5px;
    

}

.label-text {
    font-family: 'Voltaire', sans-serif;
}

button {
    border: 2px solid #ffffff;
    background-color: #F57583;
    padding: 5px;
    color: #ffffff;
    font-weight: 600;
    font-size: 16px;
}

form p {
    font-size: small;
    padding-bottom: 5px;
    text-align: center;
}

/* Footer */
footer {
    background-color: #F57583;
}

/* Social network styles */
#social-networks {
    text-align: center;
    padding: 20px 0;
    display: flex;
    list-style-type: none;
    justify-content: space-evenly;
}

#social-networks i {
    color: #ffffff;
    font-size: 160%;
    padding: 5%;
}

.thank-you {
    padding: 60px 20px 20px 20px;
}
.thank-you h2 {
    color: #F14F61;
}

.error {
    padding: 40px 20px 20px 20px;
}

.error h2 {
    color: #F14F61;
}

/* Tablets and larger */
@media screen and (min-width: 768px) {

    /*General body style */
    h1 {
        font-size: xx-large;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: x-large;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }

    ul li {
        padding: 0 10px;
        font-size: large;
    }

    /* Banner home page*/
    .div-one {
        height: 30vh;
    }

    .banner-text {
        font-size: 2rem;
    }

    /*img-in-row*/
    /* Lemon quote */
    #wrapper-lemon {
        height: 30vh;
    }

    #child-lemon {
        position: absolute;
        width: 50vh;
        top: 35%;
        font-size: 2rem;
        left: 50%;
    }

    /* Tips for nuts */
    #wrapper-nuts {
        height: 30vh;
    }

    #child-nuts {
        position: absolute;
        width: 50vh;
        top: 35%;
        font-size: 2rem;
        right: 50%;

    }

    /* Text for caption */
    .smaller-text {
        font-size: 1rem;
    }

    /* Text for img-in-row */
    .div-three p {
        font-size: 1.2rem;
    }

    .div-seven p {
        font-size: 1.2rem;
    }


    /* Recipes */
    .div-recipe {
        display: flex;
    }

    .div-recipe img {
        width: 60%;
        box-shadow: 2px 2px #ccc3c3;
    }

    ul {
        width: 40%;
        font-size: large;
        padding-top: 2px;
    }

    ol {
        font-size: large;
        padding-top: 5px;
    }

    ol li {
        font-size: large;

    }

    #contact-form p {
        font-size: medium;
        padding-bottom: 20px;
    }


}

/* Desktop */
@media screen and (min-width: 1200px) {

    /* Genreal body styles*/
    .homepage {
        padding: 20px;
    }

    /* Banner */
    .div-one {
        height: 50vh;
    }

    /* img-in-row*/
    /* Lemon quote */
    #wrapper-lemon {
        height: 40vh;
    }

    #child-lemon {
        left: 80%;
    }

    /*Tips for nuts */
    #wrapper-nuts {
        height: 40vh;
    }

    #child-nuts {
        right: 80%;
    }

    /* Recipe */

     .div-recipe img {
        width: 70%;
        box-shadow: 2px 2px #ccc3c3;
     }
    ul {
        width: 30%;
        font-size: x-large;
        padding-top: 20px;
    }

    ul li {
        padding: 10px
    }

    ol {
        font-size: x-large;
        padding-top: 20px;
    }

    ol li {
        font-size: large;
        padding: 10px;
    }

    /*Contact form width*/
        input {
            width: 150%;
        }
    
        textarea {
            width: 150%;
        }

        
}